<div class="post card mt-4">
  <div class="card-header">
    <h2>Create New Post</h2>
  </div>
  <form id="new-post-form" class="card-body">
    <div class="mb-3">
      <label class="label-width form-label" for="post-title">Title</label>
      <input class="form-control w-auto d-inline-block" type="text" autocomplete="off" name="post-title">
    </div>

    <div class="mb-3">
      <label class="label-width form-label" for="post-body" style="vertical-align: top;">
      Content</label>
      <textarea name="post-body" class="form-control w-auto d-inline-block"></textarea>
    </div>

    <span class="d-inline-block label-width"></span>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>

<script src="/javascript/new.js"></script>