<div class="card mx-auto mt-4 card-login">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <div id="signup" role="tabpanel">
    <form id="signup-form" class="card-body">
      <div class="mb-3">
        <label class="label-width" for="username-input-signup">Username</label>
        <input class="form-control w-auto d-inline-block" type="text" id="username-input-signup">
      </div>
      <div class="mb-4">
        <label class="label-width" for="password-input-signup">Password</label>
        <input class="form-control w-auto d-inline-block" type="password" id="password-input-signup">
      </div>
      <button type="submit" id="signup-btn" class="btn btn-primary me-3" >Sign up instead</button>
      <a class="btn btn-link" href="/login">Login</a>
    </form>
  </div>
</div>

<script src="/javascript/signup.js"></script>